In [ ]:
y = ax2 + bx + c

In [ ]:
Algorithm -> y = ax2 + bx + c

In [ ]:
thinking is like to assign number of variables

In [4]:
a = 5
b = 6
c = 10
x = 2

In [2]:
print(a,b,c)

5 6 10

In [5]:
y = a * x ** 2 + b * x + c

In [6]:
type(a)  - assign a memory

int

In [7]:
type(b)

int

In [8]:
type(y)

int

In [ ]:
assign memory variable -> 8 digits

In [9]:
y -> algorithm

42

In [10]:
import numpy

In [ ]:
Efficiently how can i make it

In [12]:
y = a * numpy.square(x) + b * x  + c

In [13]:
y

42

In [ ]:
numpy - numeric python  = numpy

In [14]:
def algorithm(x,a,b,c):   - storing any momery  , allocation any space , very less
    
    y = a*x**2 + b*x + c  -> parabola
    
    return y

In [15]:
algorithm(2,5,6,10)

42

In [ ]:
distance = sqrt ( x2 - x1) ^ 2 + ( y2 - y1) ^ 2 -> algorithm2

In [ ]:
Eclidian distance  -> eclid's algorithm

In [17]:
# import math as m
# distance = m.sqrt((x2 - x1)**2 + (y2 - y1)**2)

In [ ]:
output  - result
input   - x1,x2,y1,y2

In [18]:
x1 = 5
x2 = 10
y1 = 6
y2 = 12

In [23]:
result = ((x2-x1) ** 2 + (y2-y1) ** 2) ** 0.5

In [24]:
print(result)

7.810249675906654

In [25]:
result = numpy.sqrt( numpy.square(x2-x1) + numpy.square(y2-y1) )

In [26]:
print(result)

7.810249675906654

In [27]:
def eclids(x1,x2,y1,y2):
    result = ((x2-x1) ** 2 + (y2-y1) ** 2) ** 0.5
    return result

In [28]:
eclids(x1,x2,y1,y2)

7.810249675906654

In [ ]:
data structures  or data management or data ops

pandas libraries

In [29]:
import pandas     -  read & write files and data ops

In [ ]:
pandas.TAB Button

In [30]:
data = pandas.read_csv(r'C:\Users\Admin\Desktop\project\BA\week 1\store2.csv')

In [31]:
path - python

1.C:\\Users\\Admin\\Desktop\\project\\BAweek
2.C:/Users/Admin/Desktop/project/BA/week
3.r'C:\Users\Admin\Desktop\project\BA\week 1\'

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,rk
0,9261,CA-2017-167976,11/11/2017,43053,Second Class,JL-15505,Jeremy Lonsdale,Consumer,United States,Aberdeen,...,Central,OFF-SU-10004661,Office Supplies,Supplies,Acme Titanium Bonded Scissors,25.500,3,0.0,6.6300,1
1,6990,CA-2017-165099,12/11/2017,43082,First Class,DK-13375,Dennis Kane,Consumer,United States,Abilene,...,Central,OFF-AP-10001634,Office Supplies,Appliances,Hoover Commercial Lightweight Upright Vacuum,1.392,2,0.8,-3.7584,1
2,4324,US-2015-147662,2/14/2015,42054,Standard Class,KB-16315,Karl Braun,Consumer,United States,Akron,...,East,OFF-BI-10002160,Office Supplies,Binders,Acco Hanging Data Binders,2.286,2,0.7,-1.6764,1
3,3563,CA-2017-109757,9/4/2017,42987,Second Class,MD-17350,Maribeth Dona,Consumer,United States,Akron,...,East,OFF-BI-10001634,Office Supplies,Binders,Wilson Jones Active Use Binders,4.368,2,0.7,-3.0576,2
4,9922,CA-2014-111360,11/24/2014,41973,Standard Class,AT-10435,Alyssa Tate,Home Office,United States,Akron,...,East,OFF-BI-10003350,Office Supplies,Binders,Acco Expandable Hanging Binders,5.742,3,0.7,-4.5936,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9689,3348,CA-2015-112014,8/13/2015,42236,Standard Class,ON-18715,Odella Nelson,Corporate,United States,Yucaipa,...,West,OFF-AR-10003156,Office Supplies,Art,50 Colored Long Pencils,50.800,5,0.0,13.2080,1
9690,8088,CA-2016-106621,9/29/2016,42644,Second Class,DM-12955,Dario Medina,Corporate,United States,Yuma,...,West,OFF-AR-10002375,Office Supplies,Art,Newell 351,10.496,4,0.2,1.1808,1
9691,4823,CA-2016-134222,7/10/2016,42562,Same Day,NZ-18565,Nick Zandusky,Home Office,United States,Yuma,...,West,OFF-BI-10001658,Office Supplies,Binders,GBC Standard Therm-A-Bind Covers,44.856,6,0.7,-35.8848,2
9692,7280,CA-2016-108224,5/14/2016,42504,Same Day,TH-21235,Tiffany House,Corporate,United States,Yuma,...,West,TEC-AC-10003832,Technology,Accessories,Imation 16GB Mini TravelDrive USB 2.0 Flash Drive,185.528,7,0.2,48.7011,3
9693,7282,CA-2017-159282,10/16/2017,43029,Standard Class,GH-14410,Gary Hansen,Home Office,United States,Yuma,...,West,TEC-MA-10001148,Technology,Machines,Swingline SM12-08 MicroCut Jam Free Shredder,599.985,5,0.7,-479.9880,4

In [32]:
data.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State',
       'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category',
       'Product Name', 'Sales', 'Quantity', 'Discount', 'Profit', 'rk'],
      dtype='object')

In [33]:
import os
os.chdir(r'C:\Users\Admin\Desktop\project\BA\week 1')

In [34]:
data = pandas.read_csv('store2.csv')

In [36]:
data.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State',
       'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category',
       'Product Name', 'Sales', 'Quantity', 'Discount', 'Profit', 'rk'],
      dtype='object')

In [37]:
data.dtypes - data struture and its types

Row ID             int64
Order ID          object
Order Date        object
Ship Date          int64
Ship Mode         object
Customer ID       object
Customer Name     object
Segment           object
Country           object
City              object
State             object
Postal Code        int64
Region            object
Product ID        object
Category          object
Sub-Category      object
Product Name      object
Sales            float64
Quantity           int64
Discount         float64
Profit           float64
rk                 int64
dtype: object

In [39]:
data.describe()

,Row ID,Ship Date,Postal Code,Sales,Quantity,Discount,Profit,rk
count,9694.000000,9694.000000,9694.000000,9694.000000,9694.000000,9694.000000,9694.000000,9694.000000
mean,4993.926140,42492.419228,55190.491025,234.418182,3.790902,0.155167,29.178642,130.193934
std,2885.273358,420.414436,32050.129070,631.789011,2.227335,0.204867,237.716782,189.372384
min,1.000000,41646.000000,1040.000000,0.444000,1.000000,0.000000,-6599.978000,1.000000
25%,2496.250000,42146.250000,23223.000000,17.480000,2.000000,0.000000,1.735200,7.000000
50%,4992.500000,42547.000000,56301.000000,55.928000,3.000000,0.200000,8.730750,32.000000
75%,7489.750000,42872.000000,90008.000000,214.850000,5.000000,0.200000,30.009300,187.000000
max,9994.000000,43105.000000,99301.000000,22638.480000,14.000000,0.800000,8399.976000,893.000000

In [41]:
data.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State',
       'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category',
       'Product Name', 'Sales', 'Quantity', 'Discount', 'Profit', 'rk'],
      dtype='object')

In [ ]:
data['column name']

In [44]:
str(data['City'])  data type to string

'0       Aberdeen\n1        Abilene\n2          Akron\n3          Akron\n4          Akron\n          ...   \n9689     Yucaipa\n9690        Yuma\n9691        Yuma\n9692        Yuma\n9693        Yuma\nName: City, Length: 9694, dtype: object'

In [45]:
data['City'].astype(str)

0       Aberdeen
1        Abilene
2          Akron
3          Akron
4          Akron
          ...
9689     Yucaipa
9690        Yuma
9691        Yuma
9692        Yuma
9693        Yuma
Name: City, Length: 9694, dtype: object

In [46]:
data.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State',
       'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category',
       'Product Name', 'Sales', 'Quantity', 'Discount', 'Profit', 'rk'],
      dtype='object')

In [48]:
data['Row ID'].astype(float)

0       9261.0
1       6990.0
2       4324.0
3       3563.0
4       9922.0
         ...
9689    3348.0
9690    8088.0
9691    4823.0
9692    7280.0
9693    7282.0
Name: Row ID, Length: 9694, dtype: float64

In [49]:
data['Row ID'].astype(int)

0       9261
1       6990
2       4324
3       3563
4       9922
        ...
9689    3348
9690    8088
9691    4823
9692    7280
9693    7282
Name: Row ID, Length: 9694, dtype: int32

In [ ]:
binary search

In [40]:
import bisect

def binary_search_bisect(arr, x):

    i = bisect.bisect_left(arr, x)

    if i != len(arr) and arr[i] == x:

        return i

    else:

        return -1

Element is present at index 3

In [ ]:
# Test array
arr = [2, 3, 4, 10, 40]

x = 10

  
# Function call

result = binary_search_bisect(arr, x)
 

if result != -1:

    print("Element is present at index", str(result))

else:

    print("Element is not present in array")