In [ ]:
python installlation
basic syntax
library import
python data types

In [ ]:
string basics

In [1]:
name = "thillai murali"

In [2]:
type(name)

str

In [ ]:
name.TAB button press

In [22]:
desc = "the metal iron rod is used in the manufacturing assembly line"
        01234

In [21]:
type(desc)

str

In [23]:
desc.find('metal')

4

In [24]:
desc.find('iron')

10

In [3]:
name.capitalize()

'Thillai murali'

In [4]:
name

'thillai murali'

In [5]:
name.casefold()

'thillai murali'

In [8]:
name.find('l')

3

In [ ]:
thillai murali
0123

In [9]:
name.casefold()

'thillai murali'

In [10]:
name.islower()

True

In [11]:
name.isnumeric()

False

In [28]:
name
# name.isupper()

'thillai murali'

In [25]:
name.upper()

'THILLAI MURALI'

In [44]:
name[0:2].upper()

'TH'

In [15]:
fname = 'thillai'

In [16]:
lname = 'murali'

In [39]:
fname + lname

'thillaimurali'

In [40]:
fname + ' ' + lname

'thillai murali'

In [19]:
fname + '@' + lname

'thillai@murali'

In [29]:
len(name) - variable name

14

In [32]:
desc = 'the metal iron metal rod is used in the manufacturing assembly line'

In [33]:
desc.count('metal')

2

In [36]:
len(desc)

67

In [37]:
desc

'the metal iron metal rod is used in the manufacturing assembly line'

In [38]:
desc.count('metal')

2

In [ ]:
len - over all count
count - parameter count

In [ ]:
python conditional sttatements

a == b
a != b
a < b
a > b
a <= b

In [ ]:
syntax

if cond:
    sttaement  - indent  , indentation ( 4 space)
else:
    sttatment
    
a = 5
b = 10
if cond:
    a==b

In [45]:
a = 10
b = 5
if a>b:
    print("a is greater")
else:
    print("b is greater")

a is greater

In [46]:
a = 5
b = 10
if a>b:
    print("a is greater")
else:
    print("b is greater")

b is greater

In [47]:
a = 5
b = 5

if a>b:
    print("a is greater than b")
elif a == b:
    print("a and b are same")
elif a<b:
    print("a < b")
    .
    .
    .
    
else:
    print('b is greater')

a and b are same

In [52]:
a = 200
b = 33
c = 500

if a>b and c==a:
    print("both cond are true")
else:
    print('cond is failed')

cond is failed

In [50]:
if a>b or c==a:
    print("atleat one cond are true")
else:
    print('cond is failed')

atleat one cond are true

In [53]:
name = input("enter ur name")

enter ur namerajini

In [54]:
name

'rajini'

In [55]:
type(name)

str

In [59]:
x = input().split()

12 14 16 18

In [60]:
x

['12', '14', '16', '18']

In [65]:
print(' '.join(x))

12 14 16 18

In [61]:
x

['12', '14', '16', '18']

In [64]:
'%'.join(x)

'12%14%16%18'

In [ ]:
# Python for loop

syntax

for i in (python data type):
    sttatment

In [70]:
lis = ['Tree','wood','fruits',1,2,3]

In [71]:
lis

['Tree', 'wood', 'fruits', 1, 2, 3]

In [72]:
len(lis)

6

In [74]:
for i in lis:(0,1,2,3,4,5)
    print(i)

Tree
wood
fruits
1
2
3

In [75]:
for i in range(0,5):
    print(i)

0
1
2
3
4

In [76]:
for i in range(5):
    print(i)

0
1
2
3
4

In [77]:
for i in range(2,15):
    print(i)

2
3
4
5
6
7
8
9
10
11
12
13
14

In [85]:
# nested loop 

legends = ['rajini','kamal','vikram']
dependents = ['tamil movie1','hindi movie2','telugu']

In [86]:
for x in legends:
    for y in dependents:
        print(x,y)

rajini tamil movie1
rajini hindi movie2
rajini telugu
kamal tamil movie1
kamal hindi movie2
kamal telugu
vikram tamil movie1
vikram hindi movie2
vikram telugu

In [87]:
lis

['Tree', 'wood', 'fruits', 1, 2, 3]

In [88]:
for i  in lis:
    if i == 'fruits':
        print("fruits is there in the list")

fruits is there in the list

In [89]:
i = 1
while i < 6:
    print(i) 
    i = i+1

1
2
3
4
5

In [ ]:
task:
    
1.odd number print odd no , even number print(even numer)

In [ ]:
5 print(odd)  , 6 - print(even)   , input -> 1 - 30

In [ ]:
two wheeler drive road

1.red   print(stop)
2.green  print(go)
3.yellow print(ready)

quitent , remider

In [90]:
for i in range(1,31):
    if i % 2 == 0:                
        print(i,"even")
    else:
        print(i,"odd")

1 odd
2 even
3 odd
4 even
5 odd
6 even
7 odd
8 even
9 odd
10 even
11 odd
12 even
13 odd
14 even
15 odd
16 even
17 odd
18 even
19 odd
20 even
21 odd
22 even
23 odd
24 even
25 odd
26 even
27 odd
28 even
29 odd
30 even

In [95]:
a= input("please enter (red, green, yellow): ")
if a.lower()=="red":
    print("stop")
elif a.lower()=="green":
    print("go")
else:
    print("ready")

please enter (red, green, yellow): black
ready

In [97]:
n = input()
if n.lower() == 'red':
    print('stop')
elif n.lower() == 'green':
    print('go')
elif n.lower() == 'yellow':
    print('wait')
else:
    print("Enter a valid input next time")

GreEN
go

In [98]:
4 % 2 Reminder even odd

0

In [104]:
n = 6
if n % 2==0:
    print("even")
else:
    print("odd")

even

In [ ]:
functions

numeric function
string funtion

In [108]:
name = "MURALI"

In [106]:
name.center(20)

'       murali       '

In [109]:
name.casefold() - lower case

'murali'

In [ ]:
numeric function

In [110]:
import math

In [111]:
math.lcm(3,4,5)

60

In [112]:
math.ceil(89.55)

90

In [113]:
math.exp(8)

2980.9579870417283

In [114]:
math.log(78)

4.356708826689592

In [ ]:
string fucntion  - lower, upper , casfold , capitl ,....
numeric function - log, power, exp , sin , cos , tan , math.funciton, square,sqrt

In [115]:
name = "abi"

In [116]:
name.lower()

'abi'

In [117]:
name.upper()

'ABI'

In [ ]:
customs functions - user willing to create

In [ ]:
syntax:
    
    def functionname(p1,p2,...):
        statement
        return Values

In [118]:
def rajini():
    x = 3
    y = 5
    z = x+y
    return z

In [119]:
rajini()

8

In [120]:
def kamal(fname,lname,mname):
    res = fname + lname + mname
    
    return res

In [121]:
kamal("guvi","python")

'guvipython'

In [122]:
kamal("thillai","murali")

'thillaimurali'

In [123]:
kamal("5","9")

'59'

In [ ]:
y = a+bx

y = 5 + 10x

In [128]:
def line(a,b,x):
    y = a + b * x
    return y,a,b

In [129]:
line(1,2,3) , line(7,6,9)

((7, 1, 2), (61, 7, 6))

In [ ]:
task1:

    y = 5x2 + 16x + 20

In [140]:
import numpy
def parabola(x):
    y = 5*(x**2)+16*x+20
    return y

In [141]:
parabola(2)

72

In [143]:
def para(a,x,b,c):
    y = a*(x**2)+b*x+c
    return y

In [144]:
para(1,2,3,4)

14

In [145]:
# Common errors in python

In [146]:
x = 8

In [147]:
x

8

In [149]:
z = 9

In [150]:
z

9

In [152]:
salary

NameError: name 'salary' is not defined

In [153]:
if 2>4:
print("yes")

IndentationError: expected an indented block (3594652557.py, line 2)

In [154]:
if "thillai"/2:
    print("yes")

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [156]:
iff 4+5:
    print("yes")

SyntaxError: invalid syntax (588381360.py, line 1)

In [158]:
x = int(input())

Thillai

ValueError: invalid literal for int() with base 10: 'Thillai'

In [ ]:
debugging - errors

# list comprehension

In [159]:
lis = ["apple","orange","mango"]

In [160]:
lis[0]

'apple'

In [162]:
lis[1]

'orange'

In [163]:
surya = [1,2,3,"ljfsdlf3244"]

In [167]:
surya[0:2]

[1, 2]

In [171]:
surya.extend([6])

In [172]:
surya

[1, 2, 3, 'ljfsdlf3244', 5, 6]

In [174]:
surya.append('insert')

In [175]:
surya

[1, 2, 3, 'ljfsdlf3244', 5, 6, 'insert']

In [176]:
lis

['apple', 'orange', 'mango']

In [177]:
surya

[1, 2, 3, 'ljfsdlf3244', 5, 6, 'insert']

In [179]:
lis.extend(surya)

In [180]:
lis

['apple', 'orange', 'mango', 1, 2, 3, 'ljfsdlf3244', 5, 6, 'insert']

In [182]:
v = [ "wheet","rice","grams" ]

In [183]:
type(v)  [    ]

list

In [ ]:
Advantange:
    1.more time efficient and space efficeint than loops
    2.fewer line of code
    3.iteration or looping

In [ ]:
syntax of list comprehension:
    
    newlist = [  expression(element) for element in oldlist if condition  ]

In [186]:
# Even number 

even = [i for i in range(1,31) if i %2 == 0]

In [187]:
even

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [188]:
lis = [ "even number" if i %2 ==0 else "odd number" for i in range(8)  ]

In [189]:
lis

['even number',
 'odd number',
 'even number',
 'odd number',
 'even number',
 'odd number',
 'even number',
 'odd number']

In [218]:
lis1 = [ j for j in range(100)  if j % 5 ==0  if j % 10 ==0 ]

In [219]:
lis1

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [222]:
new = [ string[::-1]  for string in  ('malayalam','madam','geeks')  ]

In [224]:
new

['malayalam', 'madam', 'skeeg']

In [225]:
def parabola(x):
    y = 5*(x**2)+16*x+20
    return y

In [226]:
newlist = [ parabola(i) for i in range(10)]

In [227]:
newlist

[20, 41, 72, 113, 164, 225, 296, 377, 468, 569]

In [228]:
# Import required module
import time
# define function to implement for loop
def for_loop(n):
	result = []
	for i in range(n):
		result.append(i**2)
	return result

# define function to implement list comprehension
def list_comprehension(n):
	return [i**2 for i in range(n)]
# Driver Code
# Calculate time taken by for_loop()
begin = time.time()
for_loop(10**6)
end = time.time()

# Display time taken by for_loop()
print('Time taken for_loop:', round(end-begin, 2))

# Calculate time takens by list_comprehension()
begin = time.time()
list_comprehension(10**6)
end = time.time()

# Display time taken by for_loop()
print('Time taken for list_comprehension:', round(end-begin, 2))

Time taken for_loop: 0.53
Time taken for list_comprehension: 0.44

In [ ]:
def for_loop(n):
	result = []
	for i in range(n):
		result.append(i**2)
	return result

def list_comprehension(n):
	return [i**2 for i in range(n)]

# file handling

In [ ]:
file handling - how we can read , write , append

In [ ]:
syntax:
file = open(filename , mode)

In [ ]:
r- open a existing file ( read)
w - open existing file for write purpose (write)
a  - open file for appending purpose ( append)

In [240]:
file = open('sample.txt','r')

In [242]:
file

In [241]:
print(file.read())

Name	age	mobile no	city	marks	salary
A	50	9900763290	Bangalore	285	10818
B	23	9709303020	Mumbai	434	12344
C	22	9796840335	pune	416	11506
D	47	9433821160	chennai	189	15249
E	33	9840448035	Bangalore	117	13072
F	59	9626621256	chennai	326	18206
G	21	9775317986	hydrabad	467	13755
H	28	9798357363	calcatta	401	15539
I	37	9338865840	pune	487	11339
J	50	9427086263	Mumbai	265	19676

In [238]:
import os
os.chdir('C:\\Users\\Admin\\Desktop\\project\\BA\\week 1')

In [239]:
os.getcwd()

'C:\\Users\\Admin\\Desktop\\project\\BA\\week 1'

In [ ]:
path define

1.r'C:\Users\Admin\Desktop\project\BA\week 1'
2.C:\\Users\\Admin\\Desktop\\project\\BA\\week 1
3.C:/Users/Admin/Desktop/project/BA/week 1

In [237]:
print(file.read())

Name	age	mobile no	city	marks	salary
A	50	9900763290	Bangalore	285	10818
B	23	9709303020	Mumbai	434	12344
C	22	9796840335	pune	416	11506
D	47	9433821160	chennai	189	15249
E	33	9840448035	Bangalore	117	13072
F	59	9626621256	chennai	326	18206
G	21	9775317986	hydrabad	467	13755
H	28	9798357363	calcatta	401	15539
I	37	9338865840	pune	487	11339
J	50	9427086263	Mumbai	265	19676